.information{
    background: var(--gray5);
    /* border: 1px solid #ff0000; */
    min-height: 100vh;
    /* min-width: 100vh; */
    order: 2;
}
.information-title-name{
    /* border:1px solid blue; */
    font:var(--headline1);
    color:var(--gray6);
}
.information-title-job{
/* border: 1px solid red; */

}
.information-title-job h2{
    padding-inline-start:95px ;
    text-align: start;
    color:var(--gray6);
    text-transform: uppercase;
    font:var(--headline5);
}
.information-more-personal{
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-inline-end: 40px;
    padding-inline-start: 40px;
}
.information-more-personal-title{
    /* border: 1px solid green; */
    
}
.information-more-personal-title p{
    text-align: center;
    font:var(--headline4);
    color:var(--gray6);

    text-transform: uppercase;
    border-bottom: 1px solid var(--gray6);
}
.information-more-personal-description ej{
    /* border: 1px solid blue; */
    width: 600px;
    text-align: center;
    font:var(--button)

}
.information-more-personal-description {
    /* border: 1px solid green; */
    width: 300px;
    text-align: start;
    font:var(--button)

}
.information-more-personal-description p{
    /* border: 1px solid red; */
    /* width: 600px; */
    /* text-align: center; */
    font:var(--button)

}
.information-more-personal-description-academic{
    /* border: 1px solid red; */
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    /* text-align: center; */
    font:var(--button)

}
.information-more-personal-description-academic-h{
    /* border: 1px solid red; */
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    /* text-align: center; */
    font:var(--button)

}
.information-more-personal-description-academic ul li{
    /* border: 1px solid blue; */
    text-align: start;

}
.information-more-education{
    /* border:1px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    /* align-items: center; */
}
.information-more-education-title{
    text-align: center;
    font:var(--headline4);
    color:var(--gray6);
    text-transform: uppercase;
    border-bottom: 1px solid var(--gray6);
}
.information-more-education-name{
        font:var(--headline5);
        margin:0px;
}
.information-more-education-list{
    /* border:1px solid green; */
    text-align: center;
    width: 360px;
    font: var(--button);
    /* padding-inline-end: 90px; */
}
.information-more-experience{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 1px solid red; */
}
.information-more-experience-title{
    text-align: center;
    font:var(--headline4);
    color:var(--gray6);
    text-transform: uppercase;
    border-bottom: 1px solid var(--gray6);
}
.information-more-experience-content-name{
    font:var(--headline5);
    margin:0px;
}
.information-more-experience-content-list{

}
.footer{
    /* border: 1px solid red; */
    /* width: 30px; */
    height: 100px;
}