.profile{
    /* border: 1px solid blue; */
    min-height: 100vh;
    order:1;
    background: var(--black);
    /* background: var(--gray0); */
    background: var(--gray6);
    color:var(--secondary1);
    width: 900px;
    
    
}
.profile-img{
    /* border:1px solid green; */
    padding-top: 80px;
    padding-block-end: 80px;
}
.profile-img img{
    /* border: 1px solid red; */
    block-size: 300px;
    border-radius: 200px;
    
}
.profile-contact-ubication a i{
    color:var(--secondary1);
}
.profile-contact-ubication a{
    /* border: 1px solid red; */
    
}
.profile-contact-email{
    /* border:1px solid green; */
    
}

.profile-contact-email a{
    text-decoration: none;
    color: var(--secondary1);
}
.profile-link{
    text-decoration: none;
    color: var(--secondary1);
    font:var(--caption);
    font-size: 15px;
}
.profile-skill{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap:5px;
    align-items: center;
    /* border: 1px solid red; */
}
.profile-skill-title{
    /* border: 1px solid red; */
    color:var(--secondary1);
    font:var(--caption);
    font-size: 15px;
}

.profile-Awarded-text{
    color:var(--secondary1);
    font:var(--caption);
    font-size: 15px;
    padding-inline-start:30px;
    padding-inline-end: 30px;
}
.profile-skills-title{
    /* border:1px solid red; */
    padding-block-start: 30px;
    padding-block-end: 30px;
    color:var(--black);
    font:var(--button);
    background: var(--pink1);
    font-size: 30px;
    color: var(--gray6);
}